[Unit]
Description=Green Unicorn WSGI instance to serve API Explorer

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/opt/apiexplorer
Environment="PATH=$PATH"
ExecStart=/usr/bin/python3.6 /opt/apiexplorer/run.py

[Install]
WantedBy=multi-user.target
